include base
include layout-card

mixin card-image(card)
  div
    a(href="/card/"+card.name)
      img(src=card.image style="max-width: 20rem;")

mixin card-image(card)
  div
    img(src=card.image style="width: 20rem; height: 15rem; object-fit: cover; object-position: 100% 0;")

mixin card-form(card, action)
  form(action="/card/"+card.id+"/"+action method="post" enctype="multipart/form-data")
    input(type="hidden" name="id" value=card.id)
    block

mixin card-input(inputLabel, buttonLabel)
  div(style="padding-bottom: 1rem;")
    div= inputLabel
    block
    button= buttonLabel

mixin card-text-input(name, inputLabel, value, buttonLabel)
  +card-input(inputLabel, buttonLabel)
    input(value=value name=name type="text")

mixin card-name(card)
  +card-form(card, "set-name")
    +card-text-input("name", "Name", card.name, "Change name")

mixin card-emissions(card)
  +card-form(card, "set-emissions")
    if card.emissions > -1
      +card-text-input("emissions", "Emissions", card.emissions, "Change emissions")
    else
      +card-text-input("emissions", "Emissions", "", "Change emissions")

mixin card-language(card)
  +card-form(card, "set-language")
    +card-input("Language", "Change language")
      select(name="language")
        option(value="none" selected=card.language=="none")
        option(value="swedish" selected=card.language=="swedish") Swedish
        option(value="english" selected=card.language=="english") English

mixin card-item(card)
  div(style="display: flex; align-items: center; padding-bottom: 1rem; padding-top: 1rem; border-bottom: 1px solid black;")
    +card-image(card)
    div(style="padding: 1rem;")
      +card-name(card)
      +card-emissions(card)
      +card-language(card)

+base
  +layoutCard("Cards")
    each card in cards
      +card-item(card)
