include base
include layout-card

mixin card-image(card)
  div
    img(src="/admin/" + card.image style="width: 20rem; height: 15rem; object-fit: cover; object-position: 100% 0;")

mixin card-form(card, action)
  form(action="/admin/card/"+card.id+"/"+action method="post" enctype="multipart/form-data")
    input(type="hidden" name="id" value=card.id)
    block

mixin card-input(inputLabel)
  div(style="padding-bottom: 1rem;")
    div= inputLabel
    block

mixin card-text-input(name, inputLabel, value, buttonLabel)
  +card-input(inputLabel)
    input(value=value name=name type="text")

mixin card-name(card)
  +card-text-input("name", "Name", card.name, "Change name")

mixin card-emissions(card)
  if card.emissions > -1
    +card-text-input("emissions", "Emissions", card.emissions, "Change emissions")
  else
    +card-text-input("emissions", "Emissions", "", "Change emissions")

mixin card-language(card)
  +card-input("Language", "Change language")
    select(name="language")
      option(value="none" selected=card.language=="none")
      each language in languages
        option(value=language.iso_639_2 selected=card.language==language.iso_639_2)= language.label

mixin card-remove(card)
  +card-form(card, "remove")
    button Remove card

mixin card-item(card, languages)
  div(style="display: flex; align-items: center; padding-bottom: 1rem; padding-top: 1rem; border-bottom: 1px solid black;")
    +card-image(card)
    div(style="padding: 1rem;")
      +card-form(card, "update")
        +card-name(card)
        +card-emissions(card)
        +card-language(card, languages)
        button Update card
      +card-remove(card)

+base
  +layoutCard("Cards")
    each card in cards
      +card-item(card, languages)
