include base
include layout-card

mixin languages-form(action)
  form(
    style="margin: 0; padding: 0; display: inline;"
    action="/admin/languages/" + action
    method="post"
    enctype="multipart/form-data"
  )
    block

mixin language-input(name, label)
  label= label
    div
      input(type="text" name=name)

mixin add-language-form
  +languages-form("add")
    div
      +language-input("iso_639_2", "Language code (ISO 639-2)")
      +language-input("label", "Label")
      button Add language

mixin row(style='')
  div(style=`display: flex;${style}`)
    block

mixin cell(isFirst)
  span(style=isFirst ? "width: 6rem;" : "width: 6rem; padding-left: 1rem;")
    block

mixin language-item(language)
  +row
    +cell(true)=language.iso_639_2
    +cell=language.label
    +cell
      +languages-form("remove")
        input(type="hidden" name="iso_639_2" value=language.iso_639_2)
        button Remove

mixin language-list(languages)
  +row("margin-bottom: 0.5rem; font-weight: bold;")
    +cell(true) ISO 639-2
    +cell Label
  each language in languages
    +language-item(language)

+base
  +layoutCard("Languages")
    +language-list(languages)
  +layoutCard("Add language")
    +add-language-form
