include base
include layout-card

mixin localisation-form(language, action)
  form(
    style="margin: 0; padding: 0;"
    action="/admin/localisation/"+language+"/"+action
    method="post"
    enctype="multipart/form-data"
  )
    block

mixin column(heading)
  div(style="min-width: 10rem;")
    div= heading
    block

mixin localisation-row 
  div(style="height: 2rem;")
    block

mixin key-column(localisations)
  +column("Key")
    each localisation in localisations
        +localisation-row=localisation.key

mixin translation-column(language, localisations)
  +column("Translation")
    each localisation in localisations
      +localisation-form(language, "translate")
        +localisation-row
          input(name="language" type="hidden" value=language)
          input(name="key" type="hidden" value=localisation.key)
          input(name="translation" type="text" value=localisation.translation)
          button Translate

mixin localisation-tab-link(language, active)
  if active
    block
  else
    a(href="/admin/localisation/"+language)
      block


mixin localisation-tab(language, currentLanguage)
  +localisation-tab-link(language, currentLanguage == language)
    div(style="padding-right: 1rem;")
      block

mixin localisation-tabs(currentLanguage, languages)
  div(style="display: flex")
    each language in languages
      +localisation-tab(language.iso_639_2, currentLanguage)= language.label

mixin localisation-add-key(language)
  +localisation-form(language, "add-key")
    div
      label Key:
        input(name="key" type="text")
    button Add key

mixin localisation-remove-key(language)
  +localisation-form(language, "remove-key")
    div
      select(name="key")
        option
        each localisation in localisations
          option(value=localisation.key)= localisation.key
    button Remove key

mixin localisation-table(language, localisations)
  div(style="display: flex; margin-top: 1rem;")
    +key-column(localisations)
    +translation-column(language, localisations)

+base
  +layoutCard("Translations")
    +localisation-tabs(language, languages)
    if language
      +localisation-table(language, localisations)
  +layoutCard("Add key (for all languages)")
    +localisation-add-key(language)
  +layoutCard("Remove key (for all languages)")
    +localisation-remove-key(language)
